<head>
    <title>Prima Pagina</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="make-up, par, ten, corp, mascara, fond de ten, ser, buze, sprancene, ulei de par, crema de corp">
    <meta name="description" content="Curs de Tehnici Web. Limbajul HTML. Taguri.">
    <meta name="author" content="Maria Anghel">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/index.html" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest" />  
    <link rel="stylesheet" href="resurse/css/general.css">
    <link rel="stylesheet" href="resurse/css/nav.css">
    <link rel="stylesheet" href="resurse/css/ceva.css">
    <link rel="stylesheet" href="resurse/css/printare.css" media="print">

</head>