
<header>
    <h1 style="color:#DE9EE6;">Lunaria Beauty Shop</h1>
    <input type="checkbox" id="menu-toggle" hidden>
    <label for="menu-toggle" class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav class="main-nav">
        <ul>
            <li><a href="#Make-up"><i class="fa-solid fa-house"></i> Make-up</a>
                <ul>
                    <li><a href="#Ten">Ten</a>
                        <ul>
                            <li><a href="#Anticearcan">Anticearcan</a></li>
                            <li><a href="#Fond de ten">Fond de ten</a></li>
                            <li><a href="#Baze de make-up">Baze de make-up</a></li>
                            <li><a href="#Pudra bronzanta">Pudra bronzanta</a></li>
                            <li><a href="#Pudra libera">Pudra libera</a></li>
                            <li><a href="#Pudra matifianta">Pudra matifianta</a></li>
                            <li><a href="#Creme BB & CC">Creme BB & CC</a></li>
                            <li><a href="#Fard de obraz">Fard de obraz</a></li>
                            <li><a href="#Iluminator">Iluminator</a></li>
                            <li><a href="#Conturing">Conturing</a></li>
                            <li><a href="#Palete de ten">Palete de ten</a></li>
                        </ul>
                    </li>
                    <li><a href="#Sprancene">Sprancene</a>
                        <ul>
                            <li><a href="#Creion & pudra sprancene">Creion & pudra sprancene</a></li>
                            <li><a href="#Gel & mascara sprancene">Gel & mascara sprancene</a></li>
                            <li><a href="#Set sprancene">Set sprancene</a></li>
                        </ul>
                    </li>
                    <li><a href="#Buze">Buze</a>
                        <ul>
                            <li><a href="#Ruj de buze">Ruj de buze</a></li>
                            <li><a href="#Balsam de buze">Balsam de buze</a></li>
                            <li><a href="#Creion de buze">Creion de buze</a></li>
                            <li><a href="#Gloss">Gloss</a></li>
                        </ul>
                    </li>
                    <li><a href="#Ochi">Ochi</a>
                        <ul>
                            <li><a href="#Mascara">Mascara</a></li>
                            <li><a href="#Fard de pleoape">Fard de pleoape</a></li>
                            <li><a href="#Eyeliner">Eyeliner</a></li>
                            <li><a href="#Creion de ochi">Creion de ochi</a></li>
                            <li><a href="#Baza de pleoape">Baza de pleoape</a></li>
                            <li><a href="#Gene false">Gene false</a></li>
                            <li><a href="#Palete ochi">Palete ochi</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#Baie & Corp"><i class="fa-solid fa-house"></i> Baie & Corp</a>
                <ul>
                    <li><a href="#Gel de dus">Gel de dus</a></li>
                    <li><a href="#Lapte de corp">Lapte de corp</a></li>
                    <li><a href="#Scrub de corp">Scrub de corp</a></li>
                </ul>
            </li>
            <li><a href="#Par"><i class="fa-solid fa-house"></i> Par</a>
                <ul>
                    <li><a href="#Sampon">Sampon</a></li>
                    <li><a href="#Balsam de par">Balsam de par</a></li>
                    <li><a href="#Ulei de par">Ulei de par</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>>